body {
  background-color: #151d27;
}
h1 {
  color: white;
}
.my-artists {
  text-align: center;
  margin-top: 1.5rem;
}
.img-flex {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-flex img {
  width: 20rem;
  border: 2px solid aquamarine;
}
.box {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
  color: white;
}
p {
  font-family: Montserrat;
}
h1 {
  font-family: Poppins;
}
a {
  color: aquamarine;
}
